body {
    font-family: Calibri, Arial, sans-serif; 
    color: #212529; 
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#tables-container {
    border: 2px solid #000000; /* Black border */
    padding: 10px;
    margin: 140px;
    border-radius: 15px;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    
    
}

h1 {
    text-align: center;
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}


.table.table-bordered {
    border: 2px solid #212529; 
    border-radius: 5px; 
}

.table.table-bordered th {
    font-family: Consolas, Arial, sans-serif; 
    background-color: #0E8EA8; 
    color: #fff; 
}

.table.table-bordered td {
    font-family: Calibri, Arial, sans-serif; 
    background-color: #83D1E1; 
    color: #212529; 
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttonContainer button {
    font-family: Consolas, Arial, sans-serif; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.addButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.addButtonContainer button {
    font-family: Consolas, Arial, sans-serif; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.clearButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.clearButtonContainer button {
    font-family: Consolas, Arial, sans-serif; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.redButton {
    background-color: #dc3545;
    color: #fff; 
}

.greenButton {
    background-color: #198754;
    color: #fff;
}

.clockContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #f8f9fa; 
    color: #212529; 
}

#staffTable td {
    padding: 1px;
    text-align: center;
    vertical-align: middle;  
    
}


#staff-table-body tr:hover {
    background-color: #f5f5f5;
}



#staffTable tr.selected td {
    transition: transform 0.3s ease-in-out;
    background-color: #008000; 
    border: 1px solid black; 
}

.rounded-image {
    border-radius: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#companyLogo {
    position: absolute;
    top: 150px; 
    left: 300px; 
    height: 150px; 
    width: 250px; 
    object-fit: contain; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px; 
}

.dropdown-content a svg {
    margin-right: 10px; 
    width: 24px; 
    height: 24px; 
}

.dropdown-content a:hover {
    background-color: lightblue;
}

.dropbtn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropbtn svg {
    width: 38px; 
    height: 38px; 
}

.center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropbtn i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.toast {
    z-index: 9999;
    background-color: #f5f5f5;
}

#toastContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast-header {
    justify-content: space-between;
}

.toast-header img {
    width: 50px;
    height: 50px;
}